@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@function colour($colour-name) {
    @return map-get($colours, $colour-name);
}

body {
    font-family: $font-primary;
}

.hero {
    #bg {
        font-family: $font-primary;
        clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
        padding: 2em;
    }

    .bg-gradient-primary {
        background: colour(primaryGradient);
    }

    h2 {
        font-size: 2.375rem;
        color: #fff;
        font-weight: bold;
    }

    .btn {
        color: colour(secondary);
        border: 2px solid colour(secondary);
        border-radius: 40px;
        background: transparent;
        transition: all 0.3s ease 0s;
        margin: 1em 0;
    }
}
