@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@function colour($colour-name) {
    @return map-get($colours, $colour-name);
}

body {
    font-family: $font-primary;
}

.jumbotron {
    background-color: colour(primary);
    clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: -1;
}