@import 'variables';
// @import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@function colour($colour-name) {
    @return map-get($colours, $colour-name);
}

body {
    font-family: $font-primary;
}

.hero {
    #bg {
        font-family: $font-primary;
        clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
        width: 100%;
        min-height: 30em;
        height: 100%;
        position: relative;
        z-index: -1;
        padding: 2em;
    }

    .bg-gradient-primary {
        background: colour(primaryGradient);
    }

    .inside {
        margin: 0 auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 2.375rem;
        color: #fff;
        font-weight: bold;
    }

    .btn {
        color: colour(secondary);
        border: 2px solid colour(secondary);
        border-radius: 40px;
        background: transparent;
        transition: all 0.3s ease 0s;
        margin: 1em 0;
    }
}

section {
    h2 {
        font-size: 28px;
        font-weight: bold;
        padding: 0.5em 0;
        margin-bottom: 0;
    }
}

.latestWork {

    img,
    a {
        width: 100%;

    }

    .title {
        margin: 1em 0;
    }
}
